:host {
  display: contents;
}
.footer-footer {
  border-color: rgba(33, 33, 33, 0.1);
  border-width: 1px;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.footer-max-width {
  justify-content: space-between;
}
.clickable {
  cursor: pointer;
}
a:hover {
  color: var(--dl-color-backgrounds-primary);
  transition: 0.3s;
}
.footer-container {
  width: 50%;
  display: flex;
  align-items: left;
  justify-content: center;
  flex-direction: column;
}
.footer-logo {
  width: 250px;
  margin-left: -20px;
  margin-bottom: var(--dl-space-space-twounits);
}
.footer-text {
  max-width: 350px;
  margin-bottom: 40px;
}

.footer-links {
  width: 40%;
  display: flex;
  align-items: left;
  justify-content: center;
}

.footer-container3 {
  flex: 0 0 auto;
  width: 50%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

@media (max-width: 991px) {
  .footer-max-width {
    flex-direction: column-reverse;
  }
  .footer-container {
    width: 100%;
  }
  .footer-links {
    width: 100%;
  }
}
@media (max-width: 479px) {
  .footer-container {
    width: 100%;
    color: var(--dl-color-grays-dark100);
  }

  .footer-logo {
    width: 160px;
    margin-left: 0px;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .footer-links {
    display: none;
  }
}
