<footer
  class="footer-footer section-container"
>
  <div
    class="footer-max-width max-content-container"
  >
    <div class="footer-container">
      <a
        (click)="home()"
        class="clickable"
      >
        <img
          alt="image"
          src="/assets/logos/logo.png"
          class="footer-logo"
        />
      </a>
      <span
        class="footer-text content-Light"
      >
        <a
          href="https://maps.apple.com/?address=20795%20Lynchburg%20Hwy,%20Forest,%20VA%20%2024551,%20United%20States&ll=37.305778,-79.287286&q=20795%20Lynchburg%20Hwy"
          target="_blank"
        >
          <b>Main Shop:</b><br />
          20795 Lynchburg Hwy.
          <br />Forest, VA, 24551
        </a>
        <br />
        <b>Contact Us:</b>
        <br />
        <a href="tel:4344730160">
          (434) 473-0160
        </a>
        <br />
        <a
          href="mailto:info@apexcollisioncenters.com"
          target="_blank"
        >
          info@apexcollisioncenters.com
        </a>
      </span>
    </div>
    <div class="footer-links">
      <div class="footer-container">
        <br />
        <span
          class="footer-link"
          (click)="services()"
          >Services</span
        >
        <span
          class="footer-link"
          (click)="location()"
          >Location</span
        >
        <span
          class="footer-link"
          (click)="about()"
          >About</span
        >
        <span
          class="footer-link"
          (click)="faq()"
          >FAQ</span
        >
      </div>
    </div>
  </div>
</footer>
