<div class="navbar-navbar-container">
  <header data-role="Header" class="navigation-container">
    <img
      [attr.alt]="image_alt"
      src="/assets/logos/logo.png"
      class="navbar-logo"
    />
    <div class="navbar-nav">
      <navigation-links
        rootClassName="navigation-links-root-class-name10"
      ></navigation-links>
    </div>
    <div data-type="BurgerMenu" class="navigation-burger-menu" id="menuToggle">
      <input type="checkbox" id="checkbox" onclick="lockScroll();" />
      <span></span>
      <span></span>
      <span></span>

      <ul id="menu">
        <navigation-links
          rootClassName="navigation-links-root-class-name11"
        ></navigation-links>
      </ul>
    </div>
  </header>
</div>
