:host {
  display: contents;
}

html,
body {
  overflow-x: hidden;
}

.banner {
  background-color: lightblue;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1em;
}

.button-thing {
  display: flex;
  justify-content: center;
  align-items: center;
}
.map {
  /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.map-section {
  background-color: var(--dl-color-grays-white100);
}

.home-container {
  width: 100%;
  display: flex;
  position: relative;
  min-height: 100vh;
  overflow-x: hidden;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--dl-color-backgrounds-gray);
}
.home-main {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(/assets/photos/main.jpg);
  /* background-color: rgba(0, 0, 255, 0.7); */
  min-height: 64vh;
  background-size: cover;
  border-radius: 12px;
  background-position: center;
  /* background-position-x: right; */
  /* background-position-y: -200%; */
}

.text-box {
  width: 100%;
  display: block;
  align-items: center;
  justify-content: center;
}

.home-text {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-max-width2 {
  flex-direction: row;
  justify-content: flex-start;
}
.home-image-container1 {
  flex: 1;
  margin-right: var(--dl-space-space-oneandhalfunits);
}

.home-content-container1 {
  flex: 1;
  display: flex;
  max-width: 446px;

  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home-text12 {
  margin-bottom: 8px;
}

.home-text15 {
  font-size: 20px;
}

.home-max-width5 {
  flex-direction: column;
  justify-content: center;
}
.home-heading-container {
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
}
.home-text28 {
  text-align: center;
  margin-bottom: var(--dl-space-space-halfunit);
}
.home-text31 {
  color: var(--dl-color-backgrounds-primary);
}

.home-cards-container1 {
  width: 100%;
  display: grid;
  grid-gap: var(--dl-space-space-twounits);
  grid-template-columns: 1fr 1fr;
}

.map {
  width: 90%;
  object-fit: cover;
  border-radius: 12px;
}

@media (max-width: 991px) {
  .home-text {
    width: 100%;

    /* display: flex;
    align-items: center;
    justify-content: center; */
    text-align: center;
  }

  .small-mob {
    font-size: 2em;
  }

  .home-content-container1 {
    margin-bottom: 42px;
    padding-right: 0px;
  }
  .home-text12 {
    width: 100%;
  }
  .banner {
    text-align: center;
    font-size: 1em;
    padding: 10px;
  }
}
@media (max-width: 767px) {
  .home-text {
    margin-top: 120px;
    text-align: center;
  }
  .map {
    width: 100%;
  }
  .banner {
    text-align: center;
    font-size: 1em;
    padding: 10px;
  }

  .home-max-width2 {
    flex-direction: column;
  }
  .home-image-container1 {
    width: 100%;
    margin-right: 0px;
  }

  .home-content-container1 {
    max-width: 100%;
  }

  .home-text28 {
    margin-bottom: 0;
  }
  .home-cards-container1 {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 479px) {
  .map {
    width: 100%;
    margin-bottom: 40px;
  }
  .home-main {
    background-position: center top;
    width: 100%;
    border-radius: 0%;
    min-height: 64vh;
  }
  .banner {
    text-align: center;
    font-size: 0.7em;
    padding: 10px;
  }

  .home-text {
    margin-top: 120px;
    text-align: center;
    /* display: flex;
    align-items: center;
    justify-content: center; */
  }
}

.container {
}

.faq-drawer {
  margin-bottom: 30px;
}

.faq-drawer__content-wrapper {
  font-size: 1.25em;
  line-height: 1.4em;
  max-height: 0px;
  overflow: hidden;
  transition: 0.25s ease-in-out;
}

.faq-drawer__title {
  border-top: #4e4b52 1px solid;
  cursor: pointer;
  display: block;
  font-size: 1.05em;
  font-weight: 700;
  padding: 30px 0 0 0;
  position: relative;
  margin-bottom: 0;
  transition: all 0.25s ease-out;
  padding-bottom: 10px;
}

.faq-drawer__title::after {
  border-style: solid;
  border-width: 1px 1px 0 0;
  float: right;
  height: 10px;
  left: 2px;
  position: relative;
  right: 20px;
  top: 2px;
  transform: rotate(135deg);
  transition: 0.35s ease-in-out;
  vertical-align: top;
  width: 10px;
}

/* OPTIONAL HOVER STATE */
.faq-drawer__title:hover {
  color: #900328;
}

.faq-drawer__trigger:checked
  + .faq-drawer__title
  + .faq-drawer__content-wrapper {
  max-height: 2000px;
}

.faq-drawer__trigger:checked + .faq-drawer__title::after {
  transform: rotate(-45deg);
  transition: 0.25s ease-in-out;
}

input[type="checkbox"] {
  display: none;
}
